html {
    font-size: 14px;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    color: #222;
    font-size: 2rem;
}

main{
    width: 80%; 
    margin: 2rem auto; 
    padding: 2rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.92);
}

header {
    background-color: #d17357;
    color: #fff;
    padding: 1rem 2rem;
    text-align: center;
}

h1,h2 {
    text-decoration: underline; 
    font-size: 3rem; 
}

table {
    margin: 0 auto;
}

table, th, td {
    align-items: center;
    border: 0.1rem solid black;
    font-size: 2rem;
}

thead th { 
    background:antiquewhite; 
}

form {
    margin: 2rem auto;
    flex-direction: column;
    width: 50%;
    align-items: center;
    gap: 1.5rem;
    background-color: antiquewhite;
    padding: 1rem 1.2rem;
}

button {
    font-size: 1.5rem; 
    border: 0.1rem solid black; 
    background: green; 
    color: #fff; 
}

button:hover {
    font-size: 1.7rem;
    background: darkgreen;
}