<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="style.css" type="text/css">
	<title>Entry</title>
</head>

<body>
    <div id="welcome">
        <h1><em><u>Welcome</u></em></h1>
        <a href="search.html">Search</a><br><br><br>
        <a href="saved.html">Saved Books</a>
        <!-- change this href to the correct link  -->
    </div>

</body>

</html>