<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Form Response</title>
</head>

<body>
	<h1>Response Saved: </h1>
	<div>
		<strong>Name: </strong><%- name %><br>
		<strong>Author: </strong><%- author %><br>
		<strong>Date Read: </strong><%- readDate %><br>
        <strong>Genre: </strong><%- genre %><br>
	</div>

	<button type="button"> <a href="/">HOME</a> </button>
</body>

</html>