<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Saved Books</title>
  </head>

  <body>
    <h1>All Saved Books</h1>
    <div>
        <%- bookTable%>
    </div>
    <br>

    <button type="button"> <a href="/">HOME</a> </button>
  </body>
</html>