<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="style.css" type="text/css">
	<title>Search</title>
</head>

<body id="search_body">
    <div id="form_box">
        <form>
            <h1 id="catalog_header"><u>Catalog Search</u></h1>
            <fieldset>
                <label>Title: <textarea name="title" value="Book Title" rows="1" cols="20"></textarea> </label><br>
                <label>Genre: </label><br>
                <label><input type="radio" name="genre" value="Horror">Horror</label><br>
                <label><input type="radio" name="genre" value="Fantasy">Fantasy</label><br>
                <label><input type="radio" name="genre" value="Romance">Romance</label><br>
                <label><input type="radio" name="genre" value="History">History</label><br>
                <label>Max Page Number: <input type="number" id="maxPage"></label>
            </fieldset>
            <br><br>
            <input id="reset" type="reset" />
		    <input id="submit" type="submit" value="Search"/><br><br>
            <a href="entry.html" id="return"><b><u><em>Return</em></u></b></a>
        </form>
    </div>

</body>

</html>