body{
    background-image: url(books.jpg);
    background-size: cover;
}

h1{
    font-size: 8rem;
    color:rgb(254, 248, 232);
}
a{
    font-size: 6rem;
    color:rgb(254, 248, 232);
}

#welcome{
    background-color: rgb(4, 49, 4, 0.7);
    border-color: rgb(254, 248, 232);
    border-width: 10px;
    position:relative;
    text-align: center;
    border-style: groove;
    width: 50rem;
    height: 50rem;
    
}
#search_body{
    display: flex;
    justify-content: center; 
    align-items: center;      
    margin: 0;             
}
#form_box{
    background-color: rgb(4, 49, 4, 0.7);
    border-color: rgb(254, 248, 232);
    border-width: 10px;
    border-style: groove;
    width: 50rem;
    height: 50rem;
}

label{
    font-size: 3rem;
    color:rgb(254, 248, 232);
}

#catalog_header{
    font-size: 6rem;
    color:rgb(254, 248, 232);
    margin-left: 6rem;
    
}

textarea{
    font-size:xx-large;
}

#maxPage{
    font-size: xx-large;
}

fieldset{
    border-style: none;
}

#reset{
    background-color:rgb(254, 248, 232);
    height: 3rem;
    border-radius: 3rem;
    margin-left: 20rem;
    color: rgb(4, 49, 4, 0.7);
}

#submit{
    background-color:rgb(254, 248, 232);
    height: 3rem;
    border-radius: 3rem;
    color: rgb(4, 49, 4, 0.7);
}

#return{
    font-size: xx-large;
    margin-left: 20rem;
}